:root {
    --primary-color : #0d6efd;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #0d6efd; */
    position: relative;
}

.navbar-brand {
    font-weight: 700;
    font-size: 16px;
}

.nav-link {
    font-size: 16px;
}

.nav-link.active {
    font-weight: 700;
}

.button-primary {
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border: transparent;
}

.button-secondary {
    width: 133px;
    height: 40px;
    background-color: #fff;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    border: transparent;
}

#beranda {
    height: 550px;
    background-color: #0d6efd;
}

#mulai {
    height: 500px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#terjemahkan_otomatis {
    /* height: 600px; */
}

textarea:focus {
    outline: none;
}

.buttonhapus {
    position: absolute;
    top: 3%;
    right: 2%;
}

textarea {
    width: 100%;
    padding: 100px;
    outline: none;
    resize: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

textarea:is(:focus, :valid){
    border-width: 2px;
    padding: 15px;
}

textarea::-webkit-scrollbar{
    width: 0px;
}
